* {
    margin: 0;
    background-color: rgb(199, 199, 199);
}


.header {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; 
    padding: 20px;
}

.left-section{
    background-color: white;
    display: flex;
}
.left-section p{
background-color: white;
}

.header .left-section .icon {
    display:flex;
    width: 100px;
    height: 125px;
    margin-right: 10px;
    overflow: hidden;
}

.header .left-section .icon img {
    background-color:white;
    display:flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .right-section {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.header .right-section .buttons {
    background-color: #444857;
    color: white;
    font-size: 16px;
    padding: 15px 10px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 45px;
    min-width: 50px;
    text-align: center;
}

.header .right-section .buttons:hover {
    background-color: #555a68;
}

.header .right-section #sign-up {
    background-color: #4cc1ab;
    color: black;
    min-width: 60px;
}

.header .right-section #sign-up:hover {
    background-color: #216562;
    color: white;
}

.header .right-section #log-in {
    color: white;
    font-size: 16px;
    background-color: #444857;
    border: none;
    cursor: pointer;
}
.header .right-section #log-in:hover{
    background-color: #555a68;
}

/* ------------------------------NavBar-------------------------------- */
.NavBar{
    display: flex;
    justify-content: space-around;
    background-color:#555a68;
    color: white;
}
.NavBar .navitem a{
    font-size: 25px;
    background-color:#555a68;
    color: white;
    text-decoration: none;
}
.NavBar .navitem a:visited{
    text-decoration: none;
}

/* --------------------------------------------image grid for home page----------------------------------------- */
.image-grid {
    margin: 0;
    background-color: #000;
    overflow: hidden; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    width: 100%;
    max-width: 100%; 
}

.image-grid img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
    display: block;
    opacity: 0.7;
    transform: scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.image-grid img:hover {
    width: 100%;
    opacity: 1;
    transform: scale(.9);
}

footer{
    width: 100%;
    padding-top: 20px;
    display: flex;
    height: 150px;
    background-color: rgb(53, 68, 71);
}
.footercontent{
    display: flex;
    background-color: rgb(53, 68, 71);
}
.email{
    background-color: rgb(53, 68, 71);
    color: rgb(30, 241, 170)
}
.footercontent ion-icon{
    font-size: 30px;
    color: black;
    background-color: rgb(53, 68, 71);
}
#copyright{
    font-size: 20px;
}
.row1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(53, 68, 71);
}
.row2{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    background-color: rgb(53, 68, 71);
}

/* beginning of styles for user views */

.dropbtn {
    background-color: #467672;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #314545;
  }



.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}
.shop-item-cooktime{
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}